<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>THIS PAGE IS NAVEEN HTML PAGE</h1>

        <H1> IT IS GENERIC URLS</H1>

        <a href="{% url 'csk:dhoni' %}"><h1 >GO TO DHONI PAGE</h1></a>

        <a href="{% url 'anil' %}"><h1 >GO TO anil PAGE</h1></a>
        
    </center>
</body>
</html>